* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --button: #6D1600;
    --rodape: #282A3A;
    --branco: #FFFFFF;

}

header {
    display: flex;
    align-items: center;
    height: 88px;
    width: 1,440px;
    justify-content: space-between;
    flex-direction: row;
    padding: 24px 80px 24px 80px;
}

.imagens-header {
    display: flex;
    gap: 15px;
}



ul {
    display: flex;
    gap: 56px;
    width: 900px;
    max-width: 100%;
    height: 24px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    text-decoration: none;    
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: "Playfair Display", serif;
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    /* margin: 0px 80px; */
}

.container {
    display: flex;
    flex-direction: column;
    
}

.div-text {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-decoration: none;
    padding-top: 80px;
}

.div-text p {
    font-family: "Gentium Plus", serif;
    font-size: 20px;
}

.container h1 {
    font-family: "Playfair Display", serif;
    flex-direction: column;
    font-size: 64px;
}

.div-text button {
    width: 363px;
    height: 82px;
    border-radius: 0 32px 0 32px;

}

.div-text button {
    background: var(--button);
    color: var(--branco)
}

.imagens {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.fotos1 {
    width: 243.2px;
    height: 348px;
    border-radius: 0px 80px 0px 80px;
}

.fotos2 {
    width: 243.2px;
    height: 348px;
    border-radius: 80px 0px 80px 0px;
}

.fotos3 {
    width: 243.2px;
    height: 348px;
    border-radius: 0px 80px 0px 80px;
}

.fotos4 {
    width: 243.2px;
    height: 348px;
    border-radius: 80px 0px 80px 0px;
}

.fotos5 {
    width: 243.2px;
    height: 348px;
    border-radius: 0px 80px 0px 80px;
}

